.env
/__pycache__
/CSVDATA/JV_L/*
/CSVDATA/XL_L/*
/DB/*
/Fabriks/JV_F_P/*
/Fabriks/JV_F_L/*
/Fabriks/XL_F_P/*
/Fabriks/XL_F_L/*
/itemsF/JV_I_L/*
/itemsF/XL_I_L/*
/LOGs/*
/readyhtml/JV/*
/readyhtml/XL/*
/readyJSON/JV/*
/readyJSON/XL/*
/sessions/*